.Telo{
    width: 100%;
    height: 900px;
    background: rgb(6,159,147);
    background: linear-gradient(90deg, rgba(6,159,147,1) 0%, rgba(9,121,78,1) 100%, rgba(9,191,228,1) 100%);
    position: absolute;
    z-index: -100;
}

/* Izabran dan */

.IzabranDan{
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    height: 150px;
    background: rgb(72, 168, 143);
    border-radius: 50px; 
}






.IzabranDan .Icona{
    float: left;
    width: 20%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
    padding-left: 8%;
    padding-top: 12%; 
}
.IzabranDan .Icona:hover{
    cursor: pointer;
    background: rgb(85, 231, 192);
    transition: 0.8s;

}
.IzabranDan .Icona i{
    color: white;
    font-size: 150%;
}
.Dan{
    float: right;
    width: 80%;
    height: 100%;
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
    line-height: 80%;
    color: white;
    font-size: 250%;
    padding-top: 8%;
}

.Dan .Datum{
    color: #cbcacc;
    font-size: 50%;
}



/* Info */
.Info{
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    height: 505px;
    background: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px; 
}

/* Info */
.StepNum{
    width: 100%;
    height: 50%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px; 
    border: 1px solid white;
}


.StepNum .Steps{
    width: 50%;
    height: 90%;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 50%;
    line-height: 100%;
    padding-top: 5%;
    font-size: 200%; 
    text-align: center;
    border: 5px solid #34C7A0;
}
.StepNum .Steps i{
    width: 20%;
    height: 20%;
    background: #34C7A0;
    color: white;
    padding-top: 2%; 
    border-radius: 50%;
}
.StepNum .Steps .St{
    padding-top: 10%; 
}
.StepNum .Steps .NumS{
    font-size: 150%;
}

.Note{
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 200%;
    padding-top: 2.5%;
}
.Note .Kp{
    font-size: 150%; 
}

.NumKalKm{
    width: 100%;
    height: 25%;
    padding-top: 5%;
    text-align: center;
    font-size: 120%;
    color: gray;
}

.NumKalKm .Km{
    float: left;
    width: 33.3%;
    height: 80%;
}
.NumKalKm .Cal{
    float: left;
    width: 33.3%;
    height: 80%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.NumKalKm .Hr{
    float: left;
    width: 33.3%;
    height: 80%;
}

.NumKalKm .Data{
    color: #34C7A0;
    font-size: 150%;
}


/* Tableti */
@media(max-width:600px){
/* Telo */
    .Telo{
        height: 825px;
    }
/* DanIzbran */
   .IzabranDan .Icona{
        padding-left: 8%;
        padding-top: 25%; 
    } 

    .Dan{
        font-size: 200%;
        padding-top: 18%;
    }
/* Dani */
    .Dani{
        margin-left: 10%;
        width: 80%;
        border-radius: 20px;  
    }
    .Dani ul li{
        width: 10%;
        height: 10%;
        margin-right: 9%;
    }

/* Info */
        
        .StepNum .Steps{
            width: 70%;
            height: 70%;
            margin-top: 15%;
            margin-left: 15%;   
            font-size: 150%; 
        }

        .Note{
            font-size: 150%;
        }

        .NumKalKm{
            padding-top: 10%;
            font-size: 100%;
        }
}


/* Telefoni */
@media(max-width:360px){

/* Telo */
    .Telo{
        height: 800px;
    }
/* DanIzbran */
    .IzabranDan{
        margin-left: 20%;
        width: 60%;
    }
    .IzabranDan .Icona{
        padding-top: 30%; 
    }
    .Dan{
        font-size: 180%;
        padding-top: 22%;
        padding-left: 5%;
    }
/* Dani */

    .Dani{
        margin-left: 10% !important;
        width: 100%;
        padding-left: 0px !important; 
    }
    .Dani ul li{
        width: 10%;
        height: 10%; 
        margin-right: 3.5%;
        border-radius: 15px !important;
        font-size: 75%;
    }
    .Info{
        margin-left: 20%;
        width: 60%;
    }
/* Info */
        
    .StepNum .Steps{
        width: 80%;
        margin-left: 10%;   
    }
}
