/* Dani */
.Dani{
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
    height: 100px;
    border-radius: 50px;
    padding-top: 2%;
    padding-left: 4%; 
    
    
}

.Dodaj{
    background: white;
    color: black;
}



.Dani ul{
    list-style: none;
}
.Dani ul li{
    float: left;
    width: 7%;
    height: 7%;
    background-color: black;
    opacity: 0.8;
    line-height: 5px;
    text-align: center;
    font-size: 70%;
    border-radius: 15px;
    padding-top: 2%; 
    margin-right: 12%;
    background: rgb(72, 168, 143);
    color: white;
}

.Dani ul li:hover{
    cursor: pointer;
    background: rgb(85, 231, 192) !important;
    transition: 0.8s;
}


/* Tableti */
@media(max-width:600px){
/* Dani */ 
    .Dani{
        margin-left: 10%;
        width: 80%;
        border-radius: 20px;  
    }
    .Dani ul li{
        width: 10%;
        height: 10%;
        margin-right: 9%;
    }
}

/* Telefoni */
@media(max-width:360px){
    /* Dani */

    .Dani{
        margin-left: 10% !important;
        width: 100%;
        padding-left: 0px !important; 
    }
    .Dani ul li{
        width: 10%;
        height: 10%; 
        margin-right: 3.5%;
        border-radius: 15px !important;
        font-size: 75%;
    }
}