
<!-- Dani -->
<div class="Dani">
  <ul>
    <li (click) = "onDayClicked('Monday')" [routerLink]="['/DayScreen']" [ngStyle]="{backgroundColor: dan === 'Monday' ? 'black' : 'skyblue'}">
        <p>10</p>
        <p>MON</p>
    </li>
    <li (click) = "onDayClicked('Tuesday')" [routerLink]="['/DayScreen']" [ngStyle]="{backgroundColor: dan === 'Tuesday' ? 'black' : 'skyblue'}">
        <p>11</p>
        <p>TUE</p>
    </li>
    <li (click) = "onDayClicked('Wednesday')" [routerLink]="['/DayScreen']" [ngStyle]="{backgroundColor: dan === 'Wednesday' ? 'black' : 'skyblue'}">
        <p>12</p>
        <p>WED</p>
    </li>
    <li (click) = "onDayClicked('Thursday')" [routerLink]="['/DayScreen']" [ngStyle]="{backgroundColor: dan === 'Thursday' ? 'black' : 'skyblue'}">
        <p>13</p>
        <p>THU</p>
    </li>
    <li (click) = "onDayClicked('Friday')" [routerLink]="['/DayScreen']" [ngStyle]="{backgroundColor: dan === 'Friday' ? 'black' : 'skyblue'}">
        <p>14</p>
        <p>FRI</p>
    </li>
  </ul>
</div>
