.Telo{
    width: 100%;
    height: 900px;
    background: rgb(6,159,147);
    background: linear-gradient(90deg, rgba(6,159,147,1) 0%, rgba(9,121,78,1) 100%, rgba(9,191,228,1) 100%);
    position: absolute;
    z-index: -100;
}

/* Racunar */


/* Pozdrav */
.Pozdrav{
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    height: 150px;
    background: white;
    border-radius: 50px; 
    padding-top: 2%;
    padding-left: 8%; 
}
.Pozdrav h3{
    font-size: 30px;
    color: #34C7A0;
}

.Pozdrav p{
    color: #898694;
}





/* Aktivnost */
.Aktivnost{
    margin-top: 15px;
    margin-left: 30%;
    width: 40%;
    height: 200px;
    border-radius: 50px; 
}
.Aktivnost:hover{
    background: rgb(85, 231, 192);
    transition: 0.8s;
}

.Icona{
    float: left;
    width: 20%;
    height: 100%;
    background: rgb(72, 168, 143);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
}

.Icona i{
    width: 50%;
    height: 25%;
    margin-left: 30%;
    margin-top: 15%;
    padding-left: 13%; 
    padding-top: 10%; 
    font-size: 190%;
    border-radius: 50%; 
    color: white;
    background: rgb(111, 214, 187);
}

.Rezultat{
    float: right;
    width: 80%;
    height: 100%;
    background: rgb(111, 214, 187);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;  
}
.Rezultat .Text{
    width: 100%;
    height: 50%;
    border-top-right-radius: 50px;
    background: rgb(72, 168, 143);
    color: white;
    line-height: 100%;
    padding-top: 5%; 
}
.Rezultat .Text .NormalanText{
    font-size: 150%;
}
.Rezultat .Text .SiviText{
    color: #cbcacc;
    font-size: 120%;
}

.Rezultat .Vreme{
    width: 100%;
    height: 50%;
    border-bottom-right-radius: 50px;
    background: rgb(72, 168, 143);
}
.Rezultat .Vreme p{
    font-size: 200%;
    color: white;
}


/* Koraci */

.Koraci{
    margin-top: 15px;
    margin-left: 30%;
    width: 40%;
    height: 100px;
    border-radius: 50px;
    background: rgb(72, 168, 143);
}
.Koraci:hover{
    background: rgb(85, 231, 192);
    transition: 0.8s;
}

.Koraci .KIcona{
    width: 20%;
    height: 100%; 
    float: left;
}
.Koraci .KIcona i{
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-top: 20%;
    padding-left: 15%; 
    padding-top: 10%; 
    font-size: 190%;
    border-radius: 50%; 
    color: white;
    background: rgb(111, 214, 187);
}

.Koraci .KText{
    float: right;
    width: 30%;
    height: 100%;
    background: rgb(72, 168, 143);
    color: white;
    font-size: 150%;
    line-height: 80%;
    padding-top: 4%; 
}
.Koraci .KText .KP{
    color: #cbcacc;
    font-size: 90%;
}
.Koraci .BrKoraka{
    float: right;
    width: 50%;
    height: 100%;
    background: rgb(72, 168, 143);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;  
}
.Koraci .BrKoraka p{
    font-size: 200%;
    color: white;
    text-align: center;
    margin-top: 10%; 
}


/* Kalorije */

.Kalorije{
    margin-top: 15px;
    margin-left: 30%;
    width: 40%;
    height: 100px;
    border-radius: 50px;
    background: rgb(72, 168, 143);
}

.Kalorije:hover{
    background: rgb(85, 231, 192);
    transition: 0.8s;
}

.Kalorije .KIcona{
    width: 20%;
    height: 100%; 
    float: left;
}
.Kalorije .KIcona i{
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-top: 20%;
    padding-left: 15%; 
    padding-top: 10%; 
    font-size: 190%;
    border-radius: 50%; 
    color: white;
    background: rgb(111, 214, 187);
}

.Kalorije .KText{
    float: right;
    width: 30%;
    height: 100%;
    background: rgb(72, 168, 143);
    color: white;
    font-size: 150%;
    line-height: 80%;
    padding-top: 4%; 
}
.Kalorije .KText .KP{
    color: #cbcacc;
    font-size: 90%;
}
.Kalorije .BrKalorija{
    float: right;
    width: 50%;
    height: 100%;
    background: rgb(72, 168, 143);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;  
}
.Kalorije .BrKalorija p{
    font-size: 200%;
    color: white;
    text-align: center;
    margin-top: 10%; 
}

/* Tableti */
@media(max-width:600px){
/* Pozdrav */

    .Pozdrav{
        margin-left: 20%;
        width: 60%;
        padding-top: 5%;
        padding-left: 8%;
        
    } 


/* Dani */ 
    .Dani{
        margin-left: 10%;
        width: 80%;
        border-radius: 20px;  
    }
    .Dani ul li{
        width: 10%;
        height: 10%;
        margin-right: 9%;
    }

/* Aktivnost */

    .Aktivnost{
        margin-left: 20%;
        width: 60%;
    }

    .Icona{
        width: 30%;
    }

    .Icona i{
        width: 50%;
        height: 25%;
        margin-left: 30%;
        margin-top: 30%;
        padding-left: 16%; 
        padding-top: 14%; 
        font-size: 140%;  
    }

    .Rezultat{
        width: 70%;
    }
    .Rezultat .Text{
        padding-top: 15%; 
    }
    .Rezultat .Text .NormalanText{
        font-size: 160%;
    }
    .Rezultat .Text .SiviText{
        color: #cbcacc;
        font-size: 130%;
    }

    .Rezultat .Vreme p{
        font-size: 220%;
    }

/* Koraci */

    .Koraci{
        margin-left: 20%;
        width: 60%; 
    }

    .Koraci .KIcona{
        width: 30%;
    }

    .Koraci .KIcona i{
        width: 50%;
        height: 50%;
        padding-left: 18%; 
        padding-top: 10%; 
        font-size: 150%;
    }

    .Koraci .KText{
        width: 20%;
        font-size: 130%;
        padding-top: 8%; 
    }
    .Koraci .KText .KP{
        color: #cbcacc;
        font-size: 80%;
    }

    .Koraci .BrKoraka p{
        margin-top: 12%; 
    }

/* Kalorije */

    .Kalorije{
        margin-left: 20%;
        width: 60%; 
    }

    .Kalorije .KIcona{
        width: 30%;
    }

    .Kalorije .KIcona i{
        width: 50%;
        height: 50%;
        padding-left: 18%; 
        padding-top: 10%; 
        font-size: 150%;
    }

    .Kalorije .KText{
        width: 20%;
        font-size: 110%;
        padding-top: 8%; 
    }
    .Kalorije .KText .KP{
        color: #cbcacc;
        font-size: 80%;
    }

    .Kalorije .BrKalorija p{
        margin-top: 12%; 
    }



    

}


/* Telefoni */
@media(max-width:360px){
/* Pozdrav */

    .Pozdrav{
        height: 150px;
        padding-top: 5%;
        padding-left: 5%;
    }  

/* Dani */

    .Dani{
        margin-left: 10% !important;
        width: 100%;
        padding-left: 0px !important; 
    }
    .Dani ul li{
        width: 10%;
        height: 10%; 
        margin-right: 3.5%;
        border-radius: 15px !important;
        font-size: 75%;
    }

/* Aktivnost */

    .Icona i{
        width: 80%;
        margin-left: 15%; 
        padding-left: 23%; 
        padding-top: 20%; 
        font-size: 150%;  
    }
    .Rezultat .Text{
        padding-top: 20%; 
        padding-left: 5%; 
    }

    .Rezultat .Vreme {
        padding-left: 5%;
        font-size: 100%;
    }

/* Koraci */

    .Koraci .KIcona i{
        width: 80%;
        height: 50%;
        margin-top: 30%;
        margin-left: 15%;
        padding-left: 28%; 
        padding-top: 22%; 
        font-size: 150%;
    }

    .Koraci .KText{
        width: 30%;
        padding-top: 15%; 
    }

    .Koraci .BrKoraka{
        width: 40%;
    }
    .Koraci .BrKoraka p{
        font-size: 180%;;
        margin-top: 30%; 
    }


    /* Kalorije */

    .Kalorije .KIcona i{
        width: 80%;
        height: 50%;
        margin-top: 30%;
        margin-left: 15%;
        padding-left: 28%; 
        padding-top: 22%; 
        font-size: 150%;
    }

    .Kalorije .KText{
        width: 30%;
        padding-top: 12%; 
    }
    .Kalorije .KText .KP{
        font-size: 70%;
    }

    .Kalorije .BrKalorija{
        width: 40%;
    }
    .Kalorije .BrKalorija p{
        font-size: 180%;
        margin-top: 28%; 
    }

}

/* Talas */


section .talas{
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(wave.png);
    animation: animate 10s linear infinite;
    z-index: -20;
}
section .talas:before{
    content: '';
    width: 100%;
    height: 143px;
    background: url(wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}
section .talas:after{
    content: '';
    width: 100%;
    height: 143px;
    background: url(wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate-reverse 20s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1360px;
    }
}
@keyframes animate-reverse{
    0%{
        background-position: 1360px;
    }
    100%{
        background-position: 0;
    }
}
