
<div class="Telo">



  <!-- Pozdrav u aplikaciju -->
  <div class="Pozdrav">
    <h3>Welcome!</h3>
    <p>Overview of your activity</p>
  </div>

  <!-- Dani -->
  <app-days (izabranDan)="onIzabranDan($event)"></app-days>

  <!-- Aktivnost -->
  <div class="Aktivnost">
        <div class="Icona">
            <i class="far fa-clock"></i>
        </div>

        <div class="Rezultat">
          <div class="Text">
            <p class="NormalanText">Activity</p>
            <p class="SiviText">Average</p>
          </div>
          <div class="Vreme">
            <p>{{ Sat }}h {{ Minuti }}min</p>
          </div>
        </div>
  </div>

  <!-- Koraci -->
  <div class="Koraci">
      <div class="KIcona">
          <i class="fas fa-running"></i>
      </div>
      <div class="BrKoraka">
          <p>{{ BrKoraka }}</p>
      </div>
      <div class="KText">
          <p>Steps</p>
          <p class="KP">Total</p>
      </div>
  </div>

  <!-- Kalorije -->
  <div class="Kalorije">
        <div class="KIcona">
            <i class="fas fa-fire"></i>
        </div>
        <div class="BrKalorija">
            <p>{{ PotrosenoKalorija }}</p>
        </div>
        <div class="KText">
            <p>Calories</p>
            <p class="KP">Total Burned</p>
        </div>
  </div>

  <section>
      <div class="talas">

      </div>
  </section>



  
  



  
</div>
